aside .accordion li.filter .submenu a.active:after {
  content: none;
}

.package-loading-status {
  padding: 10px;
  margin: 10px 0;
}

.package-loading-status .progress {
  margin: 5px 0;
}

.margin-right-5 {
  margin-right: 5px;
}

.full-width {
  width: 100%;
}

.admin .app-container .dataset-list > table tbody tr:nth-child(odd) td > ul:before {
  content: none;
}

.admin .app-container .dataset-list > table tbody tr td {
  vertical-align: top;
}

.admin .app-container .dataset-list > table tbody tr td.actions {
  padding-bottom: 0;
}

.admin .app-container .dataset-list > table tbody tr td.actions > ul > li > a.info-text,
.admin .app-container .dataset-list > table tbody tr td.actions > ul > li > a.info-text:hover,
.admin .app-container .dataset-list > table tbody tr td.actions > ul > li > a.info-text:focus,
.admin .app-container .dataset-list > table tbody tr td.actions > ul > li > a.info-text:active {
  color: inherit;
  text-decoration: none;
  cursor: text;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.admin .app-container .dataset-list > table tbody tr.highlighted {
  background-color: #fcf8e3;
}
