<aside>
  <div class="user">
    <span class="avatar" ng-style="{backgroundImage: 'url(' + userProfile.avatar + ')'}"></span>
    <h4 class="name">{{ userProfile.name }}</h4>
  </div>

  <ul class="accordion">
    <li class="filter" ng-class="{'is-expanded': accordion.isSidebarExpanded}" ng-init="accordion.isSidebarExpanded = true">
      <a href="javascript:void(0)" class="js-accordion-trigger"
        ng-click="accordion.isSidebarExpanded = !accordion.isSidebarExpanded">My Datasets</a>
      <ul class="submenu slide-animation" ng-if="accordion.isSidebarExpanded">
        <li>
          <a href="javascript:void(0)"
            ng-class="{active: datapackageFilter.publishingStatus == 'all'}"
            ng-click="datapackageFilter.publishingStatus = 'all'">All datasets <span class="label">{{ metrics.publishingStatus.total }}</span></a>
        </li>
        <li>
          <a href="javascript:void(0)"
            ng-class="{active: datapackageFilter.publishingStatus == 'published'}"
            ng-click="datapackageFilter.publishingStatus = 'published'">Published only <span class="label">{{ metrics.publishingStatus.published }}</span></a>
        </li>
        <li>
          <a href="javascript:void(0)"
            ng-class="{active: datapackageFilter.publishingStatus == 'hidden'}"
            ng-click="datapackageFilter.publishingStatus = 'hidden'">Private only <span class="label">{{ metrics.publishingStatus.hidden }}</span></a>
        </li>
      </ul>
    </li>

    <li class="filter" ng-class="{'is-expanded': accordion.isLoadingStatusExpanded}" ng-init="accordion.isLoadingStatusExpanded = true">
      <a href="javascript:void(0)" class="js-accordion-trigger"
        ng-click="accordion.isLoadingStatusExpanded = !accordion.isLoadingStatusExpanded">Upload status</a>
      <ul class="submenu slide-animation" ng-if="accordion.isLoadingStatusExpanded">
        <li>
          <a href="javascript:void(0)"
            ng-class="{active: datapackageFilter.loadingStatus == 'all'}"
            ng-click="datapackageFilter.loadingStatus = 'all'">All datasets <span class="label">{{ metrics.loadingStatus.total }}</span></a>
        </li>
        <li>
          <a href="javascript:void(0)"
            ng-class="{active: datapackageFilter.loadingStatus == 'loaded'}"
            ng-click="datapackageFilter.loadingStatus = 'loaded'">Loaded <span class="label">{{ metrics.loadingStatus.loaded }}</span></a>
        </li>
        <li>
          <a href="javascript:void(0)"
            ng-class="{active: datapackageFilter.loadingStatus == 'loading'}"
            ng-click="datapackageFilter.loadingStatus = 'loading'">In progress <span class="label">{{ metrics.loadingStatus.loading }}</span></a>
        </li>
        <li>
          <a href="javascript:void(0)"
            ng-class="{active: datapackageFilter.loadingStatus == 'failed'}"
            ng-click="datapackageFilter.loadingStatus = 'failed'">Failed <span class="label">{{ metrics.loadingStatus.failed }}</span></a>
        </li>
      </ul>
    </li>
  </ul>

  <footer>
    <a class="edit" href="javascript:void(0)" ng-click="editProfile()">
      <svg><use xlink:href="#icon-cog" /></svg> <span>Edit profile</span>
    </a>
  </footer>
</aside>