<!DOCTYPE html>
<html class="no-js" lang="en" ng-controller="MainController">
<head>
  <base href="admin">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>OS Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Hind:400,500,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="public/styles/os-admin.css">
  <link rel="icon" href="public/favicon.ico" type="image/x-icon">

  <script type="text/javascript" src="config.js"></script>
  <script type="text/javascript" src="public/scripts/snippets.js"></script>
</head>

<body class="admin">
<div class="site-header">
  <div class="wrapper">
    <a class="small adminbrand logo">
      <ng-include src="state.theme.header.logo.icon">OS</ng-include>
    </a>

    <object class="logo type" type="image/svg+xml" ng-attr-data="{{ state.theme.header.logo.image }}">Admin</object>

    <header-login ng-cloak ng-if="isLoaded.application"
      metrics="state.globalMetrics" user-profile="login"></header-login>
  </div>
</div>

<div class="app-container">
  <div ng-if="!isLoaded.application" style="padding: 2em;">
    <div class="text-center" style="margin-bottom: 1em;">
      <i class="fa fa-4x fa-spinner fa-pulse"></i>
    </div>
    <div class="text-center">
      Loading application...
    </div>
  </div>

  <main-sidebar ng-cloak ng-if="isLoaded.application"
    metrics="state.metrics" user-profile="login"
    datapackage-filter="state.dataPackageFilter"></main-sidebar>
  <div class="content" ng-cloak ng-if="isLoaded.application">
    <div>
      <user-datasets packages="state.dataPackages"
        highlight-package="{{ highlightPackage }}"
        loaded="isLoaded.packages"
        viewer-url="{{ viewerUrl }}"
        packager-url="{{ packagerUrl }}"></user-datasets>

      <user-profile profile="login" visible="state.showProfile"></user-profile>
    </div>
  </div>
</div>

<div class="site-footer">
  <div class="wrapper">
    <a class="footer-logo">
      <object class="logo" type="image/svg+xml" ng-attr-data="{{ state.theme.footer.projectLogo.image }}">
        {{ state.theme.footer.projectLogo.alt }}
      </object>
    </a>
    <ul class="footer-primary-links">
      <li class="packager">
        <a ng-href="{{ packagerUrl }}" target="_blank"><ng-include src="'public/assets/OSPackager.svg'"></ng-include></a>
      </li>
      <li class="viewer">
        <a ng-href="{{ viewerUrl }}" target="_blank"><ng-include src="'public/assets/OSViewer.svg'"></ng-include></a>
      </li>
    </ul>

    <hr>
    <div class="supporters">
      <h6>With support from</h6>
      <ul>
        <li>
          <img src="public/assets/supporters/4ip.png" alt="4ip" />
        </li>
        <li>
          <img src="public/assets/supporters/adessium.png" alt="Adessium" />
        </li>
        <li>
          <img src="public/assets/supporters/gift.png" alt="GIFT" />
        </li>
        <li>
          <img src="public/assets/supporters/hewlett.png" alt="hewlett" />
        </li>
        <li>
          <img src="public/assets/supporters/knight.png" alt="Knight Foundation" />
        </li>
        <li>
          <img src="public/assets/supporters/on.png" alt="Omidyar Network" />
        </li>
        <li>
          <img src="public/assets/supporters/openbudgets.png" alt="OpenBudgets" />
        </li>
        <li>
          <img src="public/assets/supporters/os.png" alt="Open Society Foundations" />
        </li>
      </ul>

    </div>

    <hr>
    <a class="ok footer-logo" ng-href="{{ state.theme.footer.orgLogo.href }}">
      <img ng-src="{{ state.theme.footer.orgLogo.image }}" alt="{{ state.theme.footer.orgLogo.alt }}" />
    </a>

    <div class="footer-secondary-links">
      <ul>
        <li ng-repeat="link in state.theme.footer.links">
          <a ng-href="{{ link.href }}">{{ link.title }}</a>
        </li>
      </ul>

      <ul class="footer-social">
        <li ng-repeat="link in state.theme.socialMedia">
          <a ng-href="{{ link.href }}">
            <img ng-src="{{ link.icon }}" alt="{{ link.alt }}" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="hidden"><ng-include src="'public/assets/OSIcons.svg'"></ng-include></div>

<script src="public/scripts/os-admin.js"></script>
<script src="https://openspending.org/user/lib"></script>

</body>
</html>
