<div class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Profile</h4>
        <hr>
      </div>
      <div class="modal-body">
        <div class="form">
          <label for="profile-email">Email</label>
          <input id="profile-email" placeholder="user@example.com" type="email"
            readonly="readonly" ng-model="profileModel.email">
          <p class="help-block">This is the email address which you use as login.</p>

          <label for="profile-username">Username</label>
          <input id="profile-username" placeholder="Modify your username." type="text"
            ng-model="profileModel.username"
            ng-readonly="!!profile.username">

          <p ng-if="!profile.username" class="help-block ng-scope">You can change your username only once!</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
        <button ng-if="!profile.username" type="button"
          ng-click="saveUsername()" class="btn btn-sm btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
